<!DOCTYPE html>
<html>
	<head>
		<title>about me</title>
		<meta charset="UTF-8" />
		<!-- Link to Bootstrap CSS for styling -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>

	<body>
		<!-- Navigation Bar Section -->
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">Anil Pokhrel</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<!-- Left-side navigation links -->
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
					<li class="nav-item active"><a class="nav-link" href="/about">About</a></li>
					<li class="nav-item"><a class="nav-link" href="/htmlDemo">Html Demo</a></li>
				</ul>
				<!-- Right-side navigation links -->
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" href="/students">Students</a></li>
					<li class="nav-item"><a class="nav-link" href="/tas">Teaching Assistants</a></li>
					<li class="nav-item"><a class="nav-link" href="/courses">Courses</a></li>
				</ul>
			</div>
		</nav>

		<!-- Main Content Section -->
		<div class="container">
			<div class="row">
				<main class="col-md-12">
					<!-- Start your code here -->
					
					<!-- Welcome Section -->
					<h1>Hello and welcome to my page. As a student, I am excited to share valuable insights and information with you. Explore and enjoy your visit!</h1>

					<!-- About Me Section -->
					<h2>About Me</h2>
					<p>I am Anil Pokhrel, a dedicated student currently enrolled in the BTT at Seneca College. My student ID is 118889237. As an aspiring tech enthusiast, I am passionate about technology. I am committed to academic excellence and actively involved in tech skills development. I believe in the power of education to drive positive change, and I am eager to contribute to the community both inside and outside the classroom. Thank you for taking the time to learn more about me.</p>
					
					<!-- End your code here  -->
				</main>
			</div>
		</div>

		<!-- Bootstrap and JavaScript libraries -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>